@font-face{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Arimo/Arimo-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Arimo/Arimo-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Arimo/Arimo-BoldItalic.ttf') format('truetype');

}

@font-face{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Arimo/Arimo-Italic.ttf') format('truetype');

}


.App {
  text-align: center;
}
